.render_abs_training {
	display: flex;
	justify-content: center;
	//align-items: ;
	flex-wrap: wrap;
}
.training_wrapper {
	height: 80vh;
	max-height: 80vh;
	overflow-y: scroll;
}

.training_wrapper::-webkit-scrollbar {
	width: 20px;
}
.training_wrapper::-webkit-scrollbar-thumb {
	background-color: #fff;
	border-radius: 20px;
	border: 4px solid rgba(0, 0, 0, 0);
	background-clip: content-box;
	min-width: 32px;
	min-height: 32px;
	max-height: 50px;
}
.render_switch_users::-webkit-scrollbar {
	width: 20px;
}
.course_item {
	margin: 20px 15px;
	position: relative;
	max-width: 500px;
	max-height: 300px;
	transition: 0.3s all;

	.course_wrapper_img {
		img {
			border-radius: 10px;
			max-width: 500px;
			max-height: 300px;
		}
	}
	.course_name {
		position: absolute;
		right: 0px;
		bottom: 0px;
		height: 15%;
		border-radius: 10px;
		color: #fff;
		font-size: 25px;
		background-color: rgba(0, 0, 0, 0.6);
		width: 100%;
		text-align: right;
		padding: 5px 15px;
	}

	&:hover {
		cursor: pointer;
		transform: scale(1.1);
	}
}

.hd_training {
	text-align: center;
	max-height: 100px;
	padding: 20px 0;
	color: #fff;
	text-transform: uppercase;
}

.current_course_section {
	transition: 0.3s all;
	overflow: hidden;
	position: absolute;
	left: -100%;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: $FOOD_PAGE_COLOR;
	z-index: 10;
}
.current_course_section.active {
	left: 0%;
}

.close_win_current_course {
	position: absolute;
	right: 20px;
	top: 20px;
	transition: 0.3s all;
	&:hover {
		cursor: pointer;
		transform: scale(1.1);
	}
}
.render_current_course {
	display: flex;
	align-items: center;
	justify-content: center;

	padding-top: 100px;
	div {
		padding: 0 20px;
	}

	.left_block {
		font-size: 25px;
		text-align: center;
		width: 30%;
	}
	.right_block {
		width: 70%;
		overflow-y: scroll;
		max-height: 80vh;
		font-size: 18px;
		//position: relative;
		.item_current_exercises {
			height: 50px;
			padding: 5px;
			margin: 10px 0;
			background-color: #fff;
			border-radius: 10px;
			transition: 0.2s all;
			&:hover {
				cursor: pointer;
				transform: translateY(-5px);
			}
		}
	}
}

.right_block::-webkit-scrollbar {
	width: 20px;
}
.right_block::-webkit-scrollbar-thumb {
	background-color: #fff;
	border-radius: 20px;
	border: 4px solid rgba(0, 0, 0, 0);
	background-clip: content-box;
	min-width: 32px;
	min-height: 32px;
	max-height: 50px;
}

.img_name_current_course {
	transition: 0.2s all;
	img {
		border-radius: 10px;
		max-width: 100%;
		max-height: 300px;
	}
	&:hover {
		cursor: pointer;
		transform: scale(1.1);
	}
}

.name_current_course {
	white-space: nowrap;
}

.current_exercise_info_render {
	position: absolute;
	right: 0;
	top: 0;
	width: 70%;
	height: 100%;
	background-color: $FOOD_PAGE_COLOR;
	padding: 0;
	margin: 0;
	top: 100%;
	transition: 0.3s all;
}
.current_exercise_info_render.active {
	top: 0;
}
.close_current_exercise {
	position: absolute;
	right: 20px;
	top: 20px;
	transition: 0.3s all;

	&:hover {
		cursor: pointer;
		transform: scale(1.1);
	}
}

.current-overview-exercise {
	margin-top: 50px;
}
.current-overview-exercise-descr {
	text-align: justify;
}
.current-overview-exercise-video{
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 50px 0 !important;
}
.current-overview-exercise-execution,.current-overview-exercise-calories,.current-overview-exercise-lvl-diffic{
	font-size: 20px;
}

.render_current_exercise{
	overflow-y: scroll;
	max-height: 95vh;
}

.render_current_exercise::-webkit-scrollbar {
	width: 20px;
}
.render_current_exercise::-webkit-scrollbar-thumb {
	background-color: #fff;
	border-radius: 20px;
	border: 4px solid rgba(0, 0, 0, 0);
	background-clip: content-box;
	min-width: 32px;
	min-height: 32px;
	max-height: 50px;
}





@media (max-width: 900px) {
	.render_current_course {
		flex-wrap: wrap;
	}
	.right_block {
		max-height: 50vh !important;
		width: 100% !important;
	}
	.left_block {
		* {
			white-space: nowrap !important;
			text-align: center !important;
			margin: 0 auto !important;
			padding: 0 !important;
		}
	}
}
