.user-item {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 20px;
	transition: 0.3s all;
	border-radius: 10px;
	padding: 10px 0;
	transform: scale(0);
	animation: show_history_item .3s forwards linear;
	&:hover {
		cursor: pointer;
		background-color: #e1e1e1;
		transform: translateY(-5px);
	}
}
.user-img {
	img {
		border-radius: 50%;
		height: 70px;
		width: 70px;
	}
}
.user-name {
	font-size: 20px;
	font-weight: 800;
}
.wrapper_txt_data_user {
	margin-left: 30px;
}
.render_switch_users {
	margin: 25px;
	overflow-y: scroll;
	max-height: 80vh;
}

.form-switch-user {
	display: none;
}
.form-switch-user.active {
	display: block;
}

.render_switch_users::-webkit-scrollbar {
	width: 20px;
}

.render_switch_users::-webkit-scrollbar-thumb {
	background-color: #ccc;
	border-radius: 20px;
	border: 4px solid rgba(0, 0, 0, 0);
	background-clip: content-box;
	min-width: 32px;
	min-height: 32px;
	max-height: 50px;
}

.controls-pagination-switch-users {
	font-size: 20px;
	display: flex;
	margin: 50px 0;
	justify-content: center;
	align-items: center;
	//transition: .5s all ease-in-out;
	div {
		margin: 0 15px;
		transition: .1s all ease-in-out;
	}
	.prev-page-swith-users,.next-page-swith-users {
		&:hover {
			cursor: pointer;
			transform: scale(1.3);
			color: $HOME_PAGE_COLOR;
		}
	}
	
}

@for $i from 0 through 10 {
	.user-item:nth-child(#{$i}) {
		animation-delay: #{$i * 0.25}s;
		&:hover {
			&::before {
				width: 150%;
			}
		}
	}
}

@keyframes show_history_item {
	0% {
		-webkit-transform: scale(0);
				transform: scale(0);
		opacity: 1;
	  }
	  100% {
		-webkit-transform: scale(1);
				transform: scale(1);
		opacity: 1;
	  }
}