
@import "./variables";
@import "./panelSwitchPages";
@import "./pages";
@import "./buttons";
@import "./user/createUser";
@import "./pages/home";
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	min-height: 100vh;
	font-family: "Poppins", sans-serif;
	//overflow:hidden;
}

body::-webkit-scrollbar {
	display: none;
}

.app {
	//max-width: $MAX_WIDTH_APP;
	margin: 0 auto;
}

.content_section {
	background-color: #fff;
}
