
$MAX_WIDTH_APP : 1920px;
$MAX_HEIGHT_APP : 1080px;
$MAIN_RED_COLOR : #f34336;

$HOME_PAGE_COLOR: #ffa6c3;
$TRAIN_PAGE_COLOR: #c988f8;
$FOOD_PAGE_COLOR: #7ce2dd;
$PROFILE_PAGE_COLOR: #ffd284;
$gray: #9b9b9b;